p {
    color: red
}
h1 { font-family: 'Roboto', sans-serif;
    color: blue
}
section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


 #ggg {color: aqua;}