 h1{
    font-family: 'Climate Crisis', cursive; background-color: aqua;
  }

h2{font-family: 'Gloock', serif;
}

#perfil{
    padding: 0px 100px 0px 100px;
margin-top: 80px;font-size: x-large}
#Formación{
    padding: 0px 100px 0px 85px;
margin-top: 80px;font-size: x-large}

li{font-family: 'Nunito', sans-serif;font-size: large;
    padding: 0px 100px 0px 100px;}

#experiencia{padding: 0px 100px 0px 85px;
    margin-top: 80px;font-size: x-large}

#habilidades{padding: 0px 100px 0px 85px;
    margin-top: 80px;font-size: x-large
}
p{font-family: 'Nunito', sans-serif;font-size: large;
    padding: 0px 100px 0px 100px;}

    #per{font-size: x-large}

